
<h1>All Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.title %>
       <%= link_to 'show', task_path(task) %>
       <%= link_to 'edit',  edit_task_path(task) %>
      <%= link_to 'delete', task_path(task), method: :delete  %>
    </li>
    <% end %>
  </ul>
